body{
	margin: 0;
	padding: 0;
	background-image: url("http://localhost/parag/assets/images/bakg.jpg");
}
.login_center{
	position: absolute;
	top: 40%;
	left: 48%;
	transform: translate(-50%,-50%);
	height: auto;
	width: 400px;
	padding: 30px 50px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 2px 5px;
}
h2{
	margin-left: 20%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-top: 30px;
}
label{
	margin-top: 40px;
}
#login_btn
{
	margin-top: 10%;
	width: 100%;
}
.fa{
	margin-left: 30px;
}
.signup_center{
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translate(-50%,0);
	border: 1px solid grey;
	height: auto;
	width: 600px;
	padding: 30px 50px;
	border-radius: 10px;
	padding-bottom: 20px;
	background-color: white;
	box-shadow: 2px 2px 5px;
}
.form-control{
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn{
	margin-top: 20px;
}
.btn-primary{
	width: 70%;
}
.btn-default{
	width: 29%;
}
